<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <img class ="potrait" src="/img/19BEC044_Photo.jpg" alt="Image not found">
    </div>
    {{>footer}}
  </body>
</html>